.awesome {
  padding: 100px 0;
  background-color: #fff;
}
.description {
  color: #86878b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 68px;
}
.description p {
  text-align: center;
}
.awesome-wrap {
  display: flex;
  justify-content: space-between;
}
.awesome-card {
  width: 300px;
}
.awesome-card__img {
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
  border: 1px solid coral;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awesome-card__title {
  color: #333;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 16px;
}
.awesome-card__text p {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fa-bolt-lightning {
  font-size: 26px;
  color: grey;
  transition: 0.5s;
}
.fa-bolt-lightning:hover {
  color: coral;
  transform: scale(1.5) rotate(360deg);
}
.fa-square-twitter {
  font-size: 26px;
  color: grey;
  transition: 0.5s;
}
.fa-square-twitter:hover {
  color: rgb(8, 118, 229);
  transform: scale(1.5) rotate(360deg);
}
