@import url("../css/bg.css");
@import url("../css/flex.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-family: "Montserrat";
}
section {
  padding: 20px 0;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}
.color {
  width: 300px;
  padding: 20px;
  /* height: 100px; */
  /* background-color: #ffa500; */
  /* background-color: rgb(255, 165, 0); */
  background-color: rgba(255, 165, 0, 0.5);
}
.color p {
  text-transform: capitalize;
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: inherit;
  text-align: left;
  text-align: right;
  text-align: center;
  /* text-align: justify; */
  text-decoration: none;
  text-decoration: line-through;
  text-decoration: overline;
  text-decoration: underline;
}
