.header {
  /* padding: 20px 0; */
  background-color: rgb(100, 149, 237);
  border-bottom: 1px solid rgb(100, 149, 237);
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 2.25rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation {
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list-item {
  margin-left: 25px;
  transition: 0.2s;
}
.navigation-list-item:hover {
  background-color: #fff;
}
.navigation-list-item a {
  display: block;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 30px 10px;
  transition: 0.2s;
}
.navigation-list-item a:hover {
  color: palevioletred;
}
.burger {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.fa-bars {
  color: #fff;
  font-size: 32px;
}

/* @media (max-width: 860px) {
  .navigation {
    display: none;
  }
  .burger {
    display: block;
  }
  .header-logo {
    padding: 20px 0;
  }
} */
