.header {
  background-color: cornflowerblue;
  padding: 20px 0;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: rgb(109, 108, 108);
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 500;
}
.navigation {
}
.navigation-list {
  width: 540px;
  display: flex;
  justify-content: space-between;
}
.navigation-list__item {
  /* margin-left: 40px; */
}
.navigation-list__item a {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
}
.active {
  border-bottom: 2px solid coral;
  padding-bottom: 2px;
}
