@import url("./fonts.css");
@import url("./header.css");
@import url("./mainscreen.css");
@import url("./about.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "Poppins", sans-serif;
  color: rgb(66, 65, 65);
}
button {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 500;
}
